<% layout('layouts/boilerplate') %>
<div id='cluster-map'></div>
<h1>Search results for: <%=search%></h1>
<% for (let campground of campgrounds) { %>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <div id="carousel<%= campground.id %>" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
                <div class="carousel-indicators">
                    <% if(campground.images.length>1) { %> 
                    <button type="button" data-bs-target="#carousel<%= campground.id %>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <% } %> 
                    <% for(let i=1; i<campground.images.length; i++) { %> 
                    <button type="button" data-bs-target="#carousel<%= campground.id %>" data-bs-slide-to="<%= i %>" aria-label="Slide <%= i+1 %>"></button>
                    <% } %> 
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="<%= campground.images[0].url %>" class="d-block w-100" alt="0">
                    </div>
                <% for(let i=1; i<campground.images.length; i++) { %> 
                <div class="carousel-item">
                    <img src="<%= campground.images[i].url %>" class="d-block w-100" alt="<%= i %>">
                </div>
                <% } %> 
                </div>
                <% if (campground.images.length>1) { %> 
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%= campground.id %>" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel<%= campground.id %>" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                <% } %>  
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %> </h5>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= campground.location %></small>
                </p>
                <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
            </div>
        </div>
    </div>
</div>
<% } %>

<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const campgrounds = {features: <%- JSON.stringify(campgrounds) %>}
</script>
<script src="/javascripts/mapCluster.js"></script>